body, html {
}
.container {
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: #FFFFFF;

}
.navbar a{
    color: #2DA3F2;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}
.navbar a:hover{
    color:white;
    background-color: #2DA3F2;
    border-radius: 5px;
    padding: 5px;
}
footer{
    background-color: #FFFFFF;
    width:100%;
    position: fixed;
    bottom: 0px;
    color: #2DA3F2;
}

